<section>
    <div class="section_top">
        <h1>Results: </h1>
        <p>{{resultados}} results found</p>
        <button>Create</button>
    </div>
    <article class="cards_resultados">
        <div class="card">
            <img src="" alt="">
            <div class="card_informacion">
                <h1>price $</h1>
                <h2>Name: sdasdasd</h2>
                <p>status</p>
                <p>date</p>
            </div>
        </div>
        <div class="card" id="reserve">
            <h1>reserve</h1>
        </div>

    </article>
</section>
