<section>
    <div class="section_top">
        <h1>Results: </h1>
        <p>{{resultados}} results found</p>
        <button (click)="desplegar_create()">Create</button>
    </div>
    <div class="contenedor">
    <article class="cards_resultados">
        <div *ngFor="let session of sessionService.sesiones"  class="card">
            
            <div (click)="reservar(session)" class="card" id="reserve">
                <h1>reserve</h1>
            </div>
            
            <img src="" alt="">
            <div class="card_informacion">
                <h1>price {{session.price}}$</h1>
                <h2>Name: {{session.namepsichologist}}</h2>
                <p>date: {{session.start}}</p>
            </div>
        </div>
       
    </article>
</div>
</section>


<div class="createSession" id="createSession">
    <p class="title">New session</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna 
       aliqua. Ut enim ad minim veniam, quis nostrud exercit</p>
    <form  [formGroup]="formExample" (submit)="send()">
        
        <input type="text" placeholder="Price"id="price" formControlName="price"/>

        <div class="fechas">
            <label for="start">start</label>
            <input type="datetime-local" placeholder="start"id="start" class="fecha" formControlName="start"/>
        
            <label for="end">end</label>
            <input type="datetime-local" placeholder="end"id="end"  class="fecha" formControlName="end"/>
        </div>
        <button class="btn_create"[disabled]="!formExample.valid">Create acount</button>
    </form>
</div>
