<section>
    <form>
        <h1>Personal info</h1>
        <input type="text" placeholder="Name"id="name" formControlName="name"/>
        <input type="email" placeholder="E-mail"id="email" formControlName="email"/>
        <input type="text" placeholder="Mobile Number"id="mobile_number" formControlName="number"/>
        <input type="text" placeholder="Age"id="age" formControlName="age"/>
        <input type="text" placeholder="Profesional info" id="profesional_info" formControlName="profesional_info"/>
        <button>Save</button>
    </form>

</section>