<h1>Session</h1>
<section>
    <div class="titulos">
        <h2>Code</h2>
        <h2 id="Preview">Preview</h2>
        <h2>Join</h2>
    </div>

    <div class="conteiner_lista">
        <article clas="session">

            <div class="conteiner_code">
                <h3>sadasd1212adsd12d2</h3>
            </div>
            
            <div class="conteiner_preview">
                <img src="./../../assets/MP0bgaS_d1c.png" alt="">
                <div class="information">
                    <h3>titulo</h3>
                    <p>descasdasdasdddddddddad</p>
                </div>
            </div>
            
            <div class="conteiner_join">
                <button>Join</button>
            </div>
       
        </article>
    </div>
</section>
