<video id="a" autoplay muted></video>
<video id="b" autoplay></video>
<section class="z-depth-4">

<div class="contenedor_contactos">

    <div class="contenedor_titulo">
        <p>Chats</p>
    </div>

    <div id="contactos"class="contactos">

    </div>
</div>

<div class="chat">
    <div class="encabezado_chat">
        
    </div>

    <div class="mensajes" id="mess">

    </div>

    <div class="interaccion">
            <input type="text" id="in"/>
            <button >
                <i (click)="envio()" class="material-icons">send</i>
            </button> 
    </div>

</div>

</section>

