
<section class="z-depth-4">

<div class="contenedor_contactos">

    <div class="contenedor_titulo">
        <p>Chats</p>
    </div>

    <div *ngFor="let r of procesos"  id="contactos"class="contactos">
        <div (click)="control(r._id)">
            <h3 *ngIf="data.type=='p';">{{r.namepatient}}</h3>
            <h3 *ngIf="data.type!='p';">{{r.namepsichologist}}</h3>
        </div>

    </div>
</div>

<div class="chat">
    <div class="encabezado_chat">
        <i class="material-icons" (click)="llamada()">call</i>
        <i class="material-icons" (click)="nombre()">person</i>
        
    </div>

    <div class="mensajes" id="mess">
        <div id="mensajes-chat">
            <div class="mio">
                <p>mio</p>
            </div>
            <div class="otro">
                <p>otro</p>
            </div>
        </div>

    </div>

    <div class="interaccion">
            <input type="text" id="in"/>
            <button >
                <i (click)="envio()" class="material-icons">send</i>
            </button> 
    </div>

</div>

</section>

