<section class="z-depth-4">

<div class="contenedor_contactos">

    <div class="contenedor_titulo">
        <p>Chats</p>
    </div>

    <div class="contactos">

    </div>
</div>

<div class="chat">
    <div class="encabezado_chat">
        
    </div>

    <div class="mensajes">

    </div>

    <div class="interaccion">
        <form class="form_chat">
            <input type="text" />
            <button href="">
                <i class="material-icons">send</i>
            </button>
        </form>   
    </div>

</div>

</section>

