<div class="button" *ngIf="va==true"> <button>Crear</button></div>
<div class="centro">

     <div *ngFor="let publi of publicationService.publications" class="card"  routerLink="/publi/{{publi._id}}"  >
    <div class="card-header">
      <img src='http://localhost:3000/{{publi.item[0].text}}' alt="rover" />
    </div>
    <div  class="card-body">
      <span class="tag tag-teal">Psicologia</span>
      <h4>
        {{publi.title}}
      </h4>
      <p>
        {{publi.item[1].text}}
      </p>
      <div class="user">
        <div class="user-info">
          <h5>{{publi.namecreador}}</h5>
          <small>{{publi.date}}</small>
        </div>
      </div>
    </div>
  </div>

</div>