
<section class="">

    <article class="article1">
        
        <div>
            <h1>
                Take care of your<br>mental health
            </h1>
        
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br>
                do eiusmod tempor incididunt ut labore et dolore magna <br>
                aliqua. Ut enim ad minim veniam, quis nostrud exercit <br>
            </p>

            <button>
                Consult today
            </button>
        
        </div>

        <img src="../../assets/imgArticle1.png" alt="">

    </article>

    <article class="article2">
        
        <div class="our_services">
        
            <h2>
                Our services
            </h2>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore <br>
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit Lorem ipsum dolor sit amet, <br>
                consectetur adipiscing elit, seddo eiusmod tempor incidi
            </p>
        
        </div>

        <div class="contenedor_cards">
            <div class="card">
                <img class="img_card1" src="../../assets/about_img_card1.png" alt="">
                <h3>
                    Anonymous 
                </h3>
                <p>
                    ChooseLorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                </p>
            </div>

            <div class="card">
                <img class="img_card2" src="../../assets/about_img_card2.png" alt="">
                <h3>
                    Healt
                </h3>
                <p>
                    ChooseLorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                </p>
            </div>

            <div class="card">
                <img class="img_card2" src="../../assets/about_img_card3.png" alt="">
                <h3>
                    Profesional Help
                </h3>
                <p>
                    ChooseLorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
                </p>
            </div>

        </div>

    </article>

    <article class="article3">
        <img src="../../assets/about_img_article3.png" alt="">

        <div>
            <h2>
                Articles about risky situations in your life
            </h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna incididunt ut labore et dolore magna </p>
            <button>
                Learn more 
            </button>
        </div>

    </article>

    <article class="article4">

        <div>
            <h2>
                Join to change lives
            </h2>
            <hr>
            <p>OLorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna incididunt ut labore et dolore magna </p>
            <button>
                Download
            </button>
        </div>

        <img src="../../assets/about_img_article4.png" alt="">
        
    </article>

    <article class="article5">
        <div class="carrusel">
            
        </div>
    </article>    

</section>


<img class="fondo1" src="../../assets/about_fondo1.png" alt="">
<img class="fondo2" src="../../assets/about_fondo2.png" alt="">
<img class="fondo3" src="../../assets/about_fondo3.png" alt="">
